.leftbox
  .leftbox-profile
    .leftbox-profile-link
      %a.link-mypage{href:"https://twitter.com/"}
    .leftbox-profile-content
      .leftbox-profile-infomation 
        .leftbox-profile-fullname 
          %a.acount-name{href:"https://twitter.com/"} urshima taro
        %span.leftbox-profile-username
          %a.link-name{href:"https://twitter.com/"} @kintaro
      .follow-list
        %ul.follow-list-stats
          %li.follow-list-people 
            %a.follow-list-peoplelink{href:"https://twitter.com/"}
              %span.follow-list-people-label ツイート
              %span.follow-list-people-value 99
          %li.follow-list-people  
            %a.follow-list-peoplelink{href:"https://twitter.com/"}
              %span.follow-list-people-label フォロー
              %span.follow-list-people-value 100
          %li.follow-list-people 
            %a.follow-list-peoplelink{href:"https://twitter.com/"}
              %span.follow-list-people-label フォロワー
              %span.follow-list-people-value 10000