.content
	.tweet-content
		.tweet-infomation
			%a.fullname{href:"https://twitter.com/"} urashima taro
			%a.user-name{href:"https://twitter.com/"} @kintaro
			%small.time 30分前
		.tweet-content-text hello world  こんにちはツイッター
		.tweet-infomation-footer
			.icon-reply
				= fa_icon 'comment', class: 'icon'
			.icon-retweet
				= fa_icon 'retweet', class: 'icon'
			.icon-favarite
				= fa_icon 'heart', class: 'icon'
			.icon-dm
				= fa_icon 'envelope', class: 'icon'