.page-outer
  .wrapper
    .content
      .tweet-content
        .tweet-infomation
          %a.fullname taro
          %a.user-name kintaro
          %small.time 30分前
        .tweet-content-text hello world  こんにちはツイッター
        .tweet-infomation-footer
          .icon-reply
            = fa_icon 'comment', class: 'icon'
          .icon-retweet
            = fa_icon 'retweet', class: 'icon'
          .icon-favarite
            = fa_icon 'heart', class: 'icon'
          .icon-dm
            = fa_icon 'envelope', class: 'icon'
