.page-outer{
	height: 100vh;
	width: 100vw;
	background-color: #EEEEEE;
	.wrapper{
		width: 1190px;
		padding: 56px 14px 15px;
		position: relative;
		margin: 0 auto;
		.content{
			width: 590px;
			height: 100px;
			background-color: white;
			.tweet-content{
				margin-left: 60px;
				.tweet-infomation{
					background-color: white;
					.fullname{
						color: black;
					}
					.user-name{
						color: #C0C0C0;
					}
					.time{
						color: #C0C0C0;
					}
				&-content-text{
					font-size: 14px;
          line-height: 20px;
				}
				&-footer{
					display: flex;
					position: relative;
					bottom: -28px;
					.icon-reply{
						color: #C0C0C0;
						font-size: 18px;
						margin-right: 85px;
					}
					.icon-retweet{
						color: #C0C0C0;
						font-size: 18px;
						margin-right: 85px;
					}
					.icon-favarite{
						color: #C0C0C0;
						font-size: 18px;
						margin-right: 85px;
					}
					.icon-reply:hover{
						color: #2C7CFF;
					}
					.icon-retweet:hover{
						color: #00DD00;
					}
					.icon-favarite:hover{
						color: #FF0066;
					}
					.icon-dm{
						color: #C0C0C0;
						font-size: 18px;
						margin-right: 85px;
					}
					.icon-dm:hover{
						color: #2C7CFF;
					}
				}
			  }
			}
		}	
	}
}