.registrationpage{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  &-whiteblock{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    &-signupblock{
      max-width: 350px;
      &-header{
        margin: 16px auto;
        .birdicon{
          color: #1da1f2;
          font-size: 45px;
        }
      }
      &-title{
        font-size: 27px;
        line-height: 32px;
      }
        &-subtitle{
            font-size: 18px;
            margin: 16px auto;
            margin-top: 48px;
        }
            &-inputs{
              margin-bottom: 16px;
              .field{
                margin-bottom: 15px;
                .email-input{
                  width: 97%;
                  max-width: 280px;
                }
                .password-input{
                  width: 97%;
                  max-width: 280px;
                }
              }
              .registrationpage-whiteblock-signupblock-sentbox{
                display: flex;
                .sentbox-action{
                  border-radius: 100%;
                }
                  .submitbutton{
                    cursor: pointer;
                    background-color: white;
                    color: dodgerblue;
                    padding: 10px;
                    border-radius: 100px;
                    width: 286px;
                  }
                .sentbox-field{
                  margin-left: 20px;
                }
              }
            }
    }
  }
  .registrationpage-blueblock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1da1f2;
    flex: 1;
    &-introductionContent{
      max-width: 440px;
      .registrationpage-blueblock-introductionItem {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 48px auto;
      }
    }
  }
}